.App {
  margin: 15px;
}

.nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.header img {
  width: 100px;
  height: 100px;
}

.about-us a {
  display: inline-block;
  padding: 7px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background-color: whitesmoke;
  margin-top: 10px;
} 

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}